<h1>Diretor <%= @director.name %></h1>
<div class="edit">
<%= link_to "Editar", edit_director_path%>
</div>

<h2>Filmes dirigidos por <%= @director.name %>:</h2>

<div class="movies">
    <%@movies.each do |movie|%>
    <div class="movie">
    <%= link_to movie.title, movie %>
    </div>
    <br/>
    <%end%>
</div>
