<h1>Catálogo de Filmes</h1>

<% if flash[:notice]%>
    <div class="notice">
        <%= flash[:notice]%>
    </div>
<%end%>

<div class="infos">
    <div class="movie-genres">
        <h2>Gêneros</h2>
        <%@movie_genres.each do |m|%>
        <div class="movie-genre">
        <%= link_to m.name, m %>
        </div>
        <br/>
        <%end%>
    </div>
    <div class="directors">
        <h2>Diretores</h2>
        <%@directors.each do |d|%>
        <div class="movie-genre">
        <%= link_to d.name, d %>
        </div>
        <br/>
        <%end%>
    </div>
</div>
<div class="movies">
        <h2>Filmes</h2>
        <%@movies.each do |m|%>
        <div class="movie">
        <%= link_to "#{m.title} - #{m.release_year}", m %>
        </div>
        <br/>
        <%end%>
    </div>